{% capture content %}
  <div class="uk-card-body">
    <ul id="card-upcoming-events" class="uk-list uk-list-disc"></ul>
  </div>
{% endcapture %}

{% capture footer %}
    <a href="{{ "/events" | relative_url }}" class="uk-button uk-button-text">More Events</a>
{% endcapture %}

{% include card.html title='EVENTS' content=content footer=footer %}

{% comment %}
Populate the widget using JavaScript so the site doesn't have to be rebuilt when the event is over
{% endcomment %}
<script type="module">

  import { upcomingEvents } from "lis-events";

  const eventsLimit = {% if site.events_card_item_limit %}
    {{ site.events_card_item_limit }}
  {% else %}
    {{ site.card_item_limit }}
  {% endif %};

  const cardUpcomingEvents = upcomingEvents.slice(0, eventsLimit);

  /* generate HTML for each event */
  const cardListItems = upcomingEvents
    .map((event) => {
      const titleLink = `<a href="${ event.url }"><b>${ event.title }</b></a>`;
      let dates = event.date;
      if (event.endDate) {
        dates += ` - ${ event.endDate }`;
      }
      return `<li>${ titleLink } ${ dates }</li>`;
    });

  /* add the upcoming events to the upcoming events element */
  const cardEventList = document.getElementById("card-upcoming-events");
  cardEventList.innerHTML = cardListItems.join("");
</script>
