---
layout: default
---

<h1>Blog</h1>

{{ content }}

<h2 class="uk-heading-divider">Posts</h2>
{% if site.categories.blog.size > 0 %}
<dl class="uk-description-list uk-description-list-divider">
{% for post in site.categories.blog %}
  {% capture date %}{{ post.date | date_to_long_string }}{% endcapture %}
  {% include post-description.html url=post.url title=post.title date=date author=post.author summary=post.summary %}
{% endfor %}
</dl>
{% else %}
<p>There are currently no blog posts.</p>
{% endif %}
