---
layout: default
---

<h1>Events</h1>

{{ content }}

<h2 class="uk-heading-divider">Current and Upcoming Events</h2>

<div id="upcoming-events"></div>

<h2 class="uk-heading-divider">Past Events</h2>

<div id="past-events"></div>

{% comment %}
Populate the description lists using JavaScript so the site doesn't have to be rebuilt when the event is over
{% endcomment %}
<script type="module">

  import { pastEvents, upcomingEvents } from "lis-events";

  /* generates the description list HTML for an event */
  function eventHtml(event) {
    const titleLink = `<a href="${ event.url }"><b>${ event.title }</b></a>`;
    let dates = event.date;
    if (event.endDate) {
      dates += ` - ${ event.endDate }`;
    }
    return `
      <dt>${ titleLink } ${ dates }</dt>
      <dd>${ event.summary }<dd>
    `;
  }

  /* add the current and upcoming events */
  let innerHTML = "<p>There are no current or upcoming events.</p>";
  if (upcomingEvents.length > 0) {
    const upcomingHtml = upcomingEvents.map(eventHtml);
    innerHTML = `
      <dl class="uk-description-list uk-description-list-divider">
        ${ upcomingHtml.join("") }
      </dl>
    `;
  }
  const upcomingElement = document.getElementById("upcoming-events");
  upcomingElement.innerHTML = innerHTML;

  /* add the current and upcoming events */
  innerHTML = "<p>There are no past events.</p>";
  if (pastEvents.length > 0) {
    const pastHtml = pastEvents.map(eventHtml);
    innerHTML = `
      <dl class="uk-description-list uk-description-list-divider">
        ${ pastHtml.join("") }
      </dl>
    `;
  }
  const pastElement = document.getElementById("past-events");
  pastElement.innerHTML = innerHTML;

</script>
